<div class="sidebar col-md-3 col-md-offset-2">
<form action="/add_number" method="POST">
  <h1>Add Number</h1>
  <div class="form-group">
    <label for="number">New Number:</label>
    <input class="form-control" id="number" name="number">
  </div>
  <div class="form-group">
    <label for="type">Type:</label>
    <input class="form-control" id="type" name="type">
  </div>
  <input type="hidden" value="<%= @name %>">
  <button class="btn btn-primary" type="submit">add</button>
</form>
</div>

<div class="main col-md-6">
  <h1><%= @name %> </h1>
  <ul>
    <% @contact_list.each() do |contact| %>
    <li><a href="/contact/<%= contact.name() %>"> <%= contact.name() %> </a></li>
    <% end %>
  </ul>

</div>
